<html>
<head>
    <title>Создать блокнот</title>
    <link href="/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/site.css" rel="stylesheet" />
</head>
<body>
    <input id="Name" />
    <button id="InputBtn"> Добавить  запись </button>
    <script src="/Scripts/jquery-1.10.2.min.js"></script>
    <script src="/Scripts/JavaScript.js"></script>
</body>
</html>

